/* Default Css */

.Bio {
  background-color: rgb(24, 24, 24);
  margin: 0px auto;
  width: 600px;
  height: 100vh;
  box-sizing: border-box;
  box-shadow: 0px 10px 100px -10px white;
}

.Bio .Banner {
  width: 100%;
  height: 200px;
  margin-bottom: -75px;
  object-fit: cover;
  object-position: top left;
}

.Bio .Profile {
  height: 135px;
  width: 135px;
  display: inline-block;
  border-radius: 50%;
  border: 5px solid rgb(24, 24, 24);
  margin: 0px 20px;
}
.Bio .Name {
  height: auto;
  width: 100%;
  padding: 20px auto;
  margin: 10px 30px;
  color: white;
  box-sizing: border-box;
}
.Bio .Role {
  height: auto;
  width: auto;
  box-sizing: border-box;
  margin: 0px 30px;
  padding: 20px auto;
  color: gray;
}

.Bio .Story {
  height: auto;
  width: auto;
  box-sizing: border-box;
  padding: 20px auto;
  color: white;
  margin: 16px 30px;
}

/* Dylan's Css */

.BioDylan {
}

/* Melissa's Css */

.BioMelissa {
}

/* Bill's Css */

.BioBill {
}

/* Angie's Css */

.BioAngie {
}

/* Bryant's Css */

.BioBryant {
}

/* Sev's Css */

.BioSara {
  background-color: #dbf4db;
  width: 100%;
  max-width: 940px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 250px 20px 250px;
  flex-direction: column;
  font-size: 20px;
  font-weight: 300;
  line-height: 2;
}

.BioSara h2.Name {
  font-size: 70px;
  padding-top: 50px;
  background-color: #184b11;
  background: conic-gradient(
    #456d29 16.666%,
    #526d1c 16.666%,
    #41e146 33.333%,
    #43f1a0 33.333%,
    #236c0f 50%,
    #364507 50%,
    #6e9862 66.666%,
    #479879 66.666%,
    #31642e 83.333%,
    #2b3409 83.333%
  );
  background-size: 47%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.BioSara img {
  box-shadow: 0px 2px 64px rgba(183, 17, 17, 0.64);
  width: 100%;
  max-width: 450px;
  border-radius: 20px;
  overflow: hidden;
  height: 50vh;
  width: 50vh;
}

.BioSara p.Story {
  background-color: #dbf4dba8;
  border-radius: 20px;
  padding: 4px;
}
