.Hamburger {
  border: 2px solid white;
  cursor: pointer;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  border-radius: 5px;
}
.Hamburger svg {
  height: 100%;
  width: 100%;
}

/* Light Mode */
.Light .Hamburger {
  background-color: rgb(24, 24, 24);
}
