/*Simple css to style it like a toggle switch*/
.CustomStyle {
  display: flex;
  align-items: center;
}
.CustomStyle .theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.CustomStyle .theme-switch input {
  display: none;
}

.CustomStyle .slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.CustomStyle .slider:before {
  background-color: #fff;
  bottom: 4px;
  content: '';
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

.CustomStyle input:checked + .slider {
  background-color: #66bb6a;
}

.CustomStyle input:checked + .slider:before {
  transform: translateX(26px);
}

.CustomStyle .slider.round {
  border-radius: 34px;
}

.CustomStyle .slider.round:before {
  border-radius: 50%;
}
