@font-face {
  font-family: DreamMMA;
  src: url(../../../../fonts/Dream\ MMA.ttf);
}

.Letter {
  font-family: DreamMMA;
  color: white;
  font-size: 50px;
  user-select: none;
}
.Letter:hover {
  color: rgb(1, 85, 81);
}

/* Light Mode */
.Light .Logo .Letter {
  color: rgb(24, 24, 24);
}

.Light .Logo .Letter:hover {
  color: rgb(1, 85, 81);
}

.Sara .Logo .Letter {
  color: white;
}
.SaraLight .Logo .Letter {
  color: rgb(24, 24, 24);
}
.Sara .Logo .Letter:hover {
  color: rgb(0, 0, 80);
}
