.App {
  background-color: rgb(55, 55, 55);
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

.Light {
  background-color: white;
}
.Dylan {
  background-color: rgb(0, 44, 44);
}
.DylanLight {
  background-color: white;
}
